<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <title>index</title>
</head>

<body class="bg-dark text-white">
    <div th:replace="~{fragments/navbar :: navbar('denied')}"></div>
    <section class="container">
        <div class="row">
            <div class="col-12">
                <div class="container mt-5">
                    <h3>Access denied :(</h3>
                    <br>
                    <p>You dont have the authority to access this page</p>
                    <p>If tou want to acess the page you need an authorized account</p>
                    <a class="btn btn-sm btn-outline-danger" th:href="@{/login}">Go to login page</a>
                </div>
            </div>

    </section>
</body>

</html>