<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <title>Home</title>
</head>

<body>
    <div th:replace="~{fragments/navbar :: navbar('Info')}"></div>

    <div class="container">
        <div class="col-12 pt-3">
            <h1>Page info</h1>
            <hr>
            <p>
                Welcome to the administration page of the backoffice site. Here you can manage all your videogames,
                keep the catalog up to date, and ensure your game page is always ready for your most passionate fans.
                Welcome to the administration page of the backoffice site. Here you can manage all your videogames,
                keep the catalog up to date, and ensure your game page is always ready for your most passionate fans.
                Welcome to the administration page of the backoffice site. Here you can manage all your videogames,
                keep the catalog up to date, and ensure your game page is always ready for your most passionate fans.
                Welcome to the administration page of the backoffice site. Here you can manage all your videogames,
                keep the catalog up to date, and ensure your game page is always ready for your most passionate fans.
            </p>
        </div>
    </div>
</body>

</html>