<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <title>Game list</title>
</head>

<body class="bg-dark text-white">
    <div th:replace="~{fragments/navbar :: navbar('Platforms')}"></div>
    <section class="container mt-4">
        <h2>Game platforms</h2>
        <table class="table table-striped table-dark" th:if="${platforms.size() > 0}">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Edit</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>
                <tr th:each="platform : ${platforms}" th:object="${platform}">
                    <td>[[*{id}]]</td>
                    <td>[[*{name}]]</td>
                    <td>
                        <a th:href="@{/platforms/edit/{id}(id=*{id})}" class="btn btn-primary btn-sm">edit</a>
                    </td>
                    <td>
                        <form th:action="@{/platforms/delete/{id}(id=*{id})}"
                            onclick="return confirm('Are you sure you want to delete the platform?');" method="post">
                            <button type="submit" class="btn btn-danger btn-sm">delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mb-3 d-flex">
            <a th:href="@{/platforms/create}" class="me-auto btn btn-primary btn-sm">
                Add platform</a>
        </div>

        <p th:if="${platforms.size() == 0}"
            th:text="'No games available on the platform at the moment please try later.'">
        </p>
    </section>
</body>

</html>